<%- include('header'); -%>

<h1>This is About</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo corrupti cumque dolor ex accusamus dolores natus doloremque ratione laudantium? Soluta temporibus illo autem accusamus animi exercitationem quo explicabo, cum commodi quis accusantium. Possimus, cupiditate.</p>

<%- include('footer'); -%>